{% extends 'Base/homebase.html' %}
{% block title %}About{% endblock %}
{% block metadescription %}
        <meta name="description" content="Eagleaviation offers thousands of Airport Management, Cabin Crew, Cruise Ship, Travel and Tourism courses - Eagleaviation">
        <meta name="tittle" content="About Eagleaviation | Best Study an Education">
    {% endblock %}

{% block body %}
    <section>
      <img class="w-100" src="static/Home/images/about.png" />
    </section>
    <section>
      <div class="container mt-5 my-5">
        <div class="row">
          <div class="col-md-6">
            <h1>Eagleaviation Institute</h1>
            <p class="text-justify">
              A prestigious Eagleaviation institute was founded in 2015, and it was incorporated into the category of education trust in 2017. Moreover, our company was registered under the MCA (Ministry Of Corporate Affairs - Government of India) in 2019. The
              institute was established by a magnificent group of intellectuals and academics to provide value-relevant education and an excellent studious environment for the complete supervision of its students. Eagleaviation institute has been praised by
              plenty of educationists and academic veterans for its brilliance in delivering high-quality educational courses, programs, and practical vividness in the aviation industry, hotel management, flight booking and travel business.
            </p>
            <p class="text-justify">
              Starting from the institute's inception, we have already encouraged new ideas, technical advancement and young entrepreneurship among all candidates to make them professionals of the competitive industry. Eagleaviation institute proffers the
              actual-world expertise, scenario and needs so that students can stand in a cutthroat rivalry that exists at the worldwide level
            </p>
          </div>
          <div class="col-md-6">
            <img class="img-thumbnail" src="static/Home/images/about-small.png" />
          </div>
        </div>
      </div>
    </section>

    <section class="m-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 my-2">
            <div class="background-color-begray shadow-lg border-0 p-3">
              <h4 class="text-center text-success fw-bold">VISION</h4>
              <p class="text-justify">
                Our vision is to deliver globally praised aviation, hotel management and travel courses that set our students apart from regular people. We ensure to work smart and hard for the welfare of our institute and the developmental process
                of each student. We don't believe in making our student's geeks and bookworms; on the contrary, we teach them practically so they can handle real-life situations wisely.
              </p>
            </div>
          </div>

          <div class="col-lg-4 my-2">
            <div class="background-color-begray shadow-lg border-0 p-3">
              <h4 class="text-center text-success fw-bold">Mission</h4>
              <ul class="text-justify" style="padding-left: 14px">
                <li>To create an unsurpassed position for Eagleaviation institute as a platform of brilliance in aviation, hotel management and Cruz ship</li>
                <li>To prepare its candidate's attributes and identify their caliber effectively.</li>
                <li>We ensure to make our candidates leaders, not followers, so that they can gel with any environment and understand the corporate world efficiently</li>
                <li>To change the dynamics of candidates and make them world-level of brilliant talent</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 my-2">
            <div class="background-color-begray shadow-lg border-0 p-3">
              <h4 class="text-center text-success fw-bold">Motto</h4>
              <p class="text-justify">
                Eagleaviation institute is a cultivated academy by some brilliant brains and visionary people. We encourage, cherish and refine our candidates with the professional aptitude and civilized viewpoint worth visualized ambition. Our motto is
                'worthwhile enhancement in professional academics'. We always attempt to brush up on your skills excellence and make you a leader in aviation, hotel, and Cruz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}