{% extends 'Base/homebase.html' %}
{% block title %}Diploma Course in Air Hostess{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Airport Hostess and getting 100% job Placement. Build a career in the Airport Hostess
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Airport Hostess - Eagleaviation
        ">
    {% endblock %}

{% block body %}


<section>      <img class="w-100" src="static/Home/images/air-hostess.png" />    </section>    <div class="container mt-5">      <div class="row">        <div class="col-md-6">
          <h1 class="fs-5 text-danger"><strong>Eagleaviation Institute-Professional Diploma Course in Air Hostess</strong></h1>
          <p class="text-justify">
            The academic study at Eagleaviation Institute is a Diploma in Air Hostess that comprised of formal education and practical learning workouts related to airhostess work and job profile. The course equips students to become competent airline
            employees. According to the wider populace, airlines employ an air hostess to offer foods and drinks to their passengers! But the job of an air hostess encompasses more than just offering drinks and meals. We also provide mentorship in
            some of their primary responsibilities.
          </p>
          <ul>
            <li>They handle announcement in flight and communication in the whole cabin</li>
            <li>They confirm security of travellers</li>
            <li>They confirm comfort of travellers</li>
            <li>They support passenger in boarding, seat searching and baggage management</li>
            <li>Delivering food, magazine, drinks and other essential stuff to travellers</li>
            <li>Guiding passengers on safety guidelines</li>
            <li>Helping travellers at the time of panic and emergency</li>
          </ul>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/airhost.png" alt="" class="img-thumbnail" />
        </div>
        
        <div class="col-md-12">
          <h2 class="fs-4"><strong>Benefits of Eagleaviation Institute</strong></h2>
          <p class="mb-0">You should join Eagleaviation institute for airhostess course and training because:</p>
          <ul>
            <li>You can get training through industry’s experts</li>
            <li>We offer training and internship</li>
            <li>We provide continuous assistance on job placement</li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock body %} 
    
