{% extends 'Base/homebase.html' %}
{% block title %}Diploma Course in Airport{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Airport  Management and getting 100% job Placement. Build a career in the airport Management
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Airport Management - Eagleaviation
        ">
    {% endblock %}
{% block body %}
    <section>
      <img class="w-100" src="static/Home/images/airport-managent.png" />
    </section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h3 class="fs-5 fw-bold text-danger"><strong>Eagleaviation Institute-Professional Diploma Course in Airport</strong></h3>
          <p class="text-justify">
            In the realm of aviation, Eagleaviation Institute is one of India's leading professional educational institutes. Eagleaviation Institute's mission is to provide students with enterprise employment certifications and education. Our pupils are the most
            sought-after in the market due to our well-researched course material, qualified mentors and comprehensive training methods. We are sure that our course material, facilities, and professors are among the greatest of all time, with a
            strong emphasis on training programmes and student placement.
          </p>
        </div>
        <div class="col-md-6"><img class="img-thumbnail" src="static/Home/images/airport-management.png" /></div>

        <div class="col-md-6 mt-3">
          <h3 class="fs-6 fw-bold"><strong>Advantage of Eagleaviation Institute</strong></h3>
          <ul>
            <li>Well qualified faculty members including mentors and counselling experts</li>
            <li>Highly advanced and modernized training classes</li>
            <li>Sure shot internship and placement</li>
            <li>Mentors are industry experts and they provide practical training</li>
          </ul>
        </div>

        <div class="col-md-6 mt-3">
          <h3 class="fs-6 fw-bold"><strong>Diploma Courses:</strong></h3>
          <ul>
            <li>Introduction to Aviation Industry</li>
            <li>Diploma in Ground staff -Airport Ground treatment</li>
            <li>Diploma in Air Hostess</li>
            <li>Cabin Crew: In-flight Services</li>
            <li>Diploma in Airport Management</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="fs-6 fw-bold"><strong>Diploma in Air Hostess:</strong></h3>
          <p>
            Eagleaviation Institute offers an Air Hostess Diploma. Classroom lectures and practical training sessions make up the academic programme. The programme prepares learners to become competent airline employees. As per the general public, airlines
            employ a flight attendant to offer food and beverages to their travellers! This assertion, on the other hand, is incorrect! The job of an air hostess entails more than just offering drinks and meals.
          </p>
          <p class="mb-0">We also give training to airhostess to make them expert in conducting many duties such as</p>
          <ul>
            <li>Confirming the security and comfort of passengers</li>
            <li>Conveying flight announce and good coordination within department</li>
            <li>Serving food, drinks, books, and other basic things to travellers</li>
            <li>Helping passengers to follow safety guidelines in the flight</li>
            <li>Helping passengers at the time of panic situation, emergency etc</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="fs-6 fw-bold"><strong>Diploma in Cabin Crew:</strong></h3>
          <p>
            Cabin Crew is a diploma degree offered by Eagleaviation Institute. The course is aimed for male and female who want to work as cabin crew on domestic airlines. We understand what it required to be an effective cabin member of the crew and what
            airlines seek. We can make you visualize your ambition of becoming a cabin crew member by uniting our expertise and understanding into one team. There are additional options for on-campus placements.
          </p>
        </div>

        <div class="col-md-12">
          <h3 class="fs-6"><strong>Diploma in Airport Management and Ground Staff:</strong></h3>
          <p>
            The aviation industry is a huge sector. It hires a diverse group of experts, including pilots, flight attendants, aircraft engineers, and air traffic controllers. A diploma in Airport Management and Ground Staff is offered. An airline or
            airport requires experienced managers and ground workers in areas such as airline ticketing, customer support, passenger handling, cargo operations, and basics of terminal management, aviation hospitality, inter-departmental coordination,
            security, ticketing, and customer care.
          </p>
          <p class="mb-0">Many duties that we concentrate and train during the airport management course</p>
          <ul>
            <li>Airport Operations Control Center</li>
            <li>Terminal Operations</li>
            <li>Air-side & Kerb-side Operations</li>
            <li>Ground Flight Safety</li>
            <li>Customer Facilities & Logistics etc</li>
          </ul>
          <p>
            The airport's operational functions, for example, are one of the most important components. Fire fighting, rescue, and other support systems Issues and obstacles at airports Key developments, airline and airport operations in respect to
            passenger service supply,
          </p>
          <p>Check-in and boarding procedures for travellers and baggage, including passengers with special needs interpret the relevant regulatory requirements for passenger and luggage movement</p>
          <p>Operation of computer reservations and departure control systems</p>
          <p>In a high-pressure consumer-facing setting, provide exceptional customer service. Check-in processes for passengers and luggage (airport and off-site),</p>
          <p>Passenger and baggage carrying conditions, boarding procedures, and flight close-out communications</p>
          <p>Taking care of passenger interactions Passenger and luggage transportation security protocols in the aviation industry</p>
          <p>Improved Passenger convenience</p>
        </div>
      </div>
    </div>
{% endblock %}