{% extends 'Base/homebase.html' %}
{% block title %} Diploma Course in Cabin Crew{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Cabin Crew and getting 100% job Placement. Build a career in the Cabin Crew
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Cabin Crew - Eagleaviation
        ">
    {% endblock %}

{% block body %}
    <section>
      <img class="w-100" src="static/Home/images/cabin-crew.png" />
    </section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-danger fs-5"><strong>Eagleaviation Institute-Professional Diploma Course in Cabin Crew</strong></h3>
          <p class="text-justify">
            After completing 10+2, individuals interested in exploring jobs in the aircraft industry can choose from a range of diploma and degree courses. Women who would like to work as air hostesses have a lot of opportunities in this field, and
            they can enroll in courses like Station Staff and Flight Attendants Training to begin working for reputable airlines. EagleaviationI has excellent certification and diploma courses in cabin crew management.
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-justify">
            Operating as a cabin crew member for a big airline is fascinating and challenging. Moreover, flying to attractive places, the profession necessitates a great deal of responsibility and expertise to guarantee traveler convenience and
            protection while complying with industry laws. This program is designed for recent graduates who want a strong foothold in their profession by presenting them to the abilities and duties of the role.
          </p>
          <p class="text-justify">
            These courses combine classroom instruction with hands-on training to introduce applicants to the many operations of the airline's industry and factors to consider when flying. Women are not the first ones who can work in this industry.
            Men can register for programs in this subject, and successful individuals can get excellent careers.
          </p>
          <p class="text-justify">
            A cabin crew is one of the most demanding jobs in the aviation industry. The cabin crew, which comprises an air hostess (female) and a flight attendant, is accountable for the enjoyment, health, and protection of the passengers aboard the
            plane (male).
          </p>
          <p class="text-justify">
            According to the rules, no member of the aircrew is allowed to fly more than 3 days a month. This encourages safe job satisfaction as well as an excellent pay structure. After several decades of employment as cabin crew, they can progress
            to head attendants and earn a higher salary.
          </p>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/cabin_crew.png" alt="" class="img-thumbnail" />
        </div>

        <div class="col-md-12">
          <h4 class="fs-5">Eligibility Criteria</h4>
          <ul>
            <li>10+2 with 45% minimum marks (in some institutes, it differs with 50%)</li>
            <li>Age limit- Minimum 17 and maximum 26</li>
            <li>Height – 5 ft 6 inches</li>
            <li>The candidate should be the bachelor at the time of course enrollment</li>
            <li>The eyesight of the applicant must be expected with 6/6 both eyes</li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}