{% extends 'Base/homebase.html' %}
{% block title %}Diploma Course in Cruise Ship {% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Cruise Ship and getting 100% job Placement. Build a career in the Cruise Ship
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Cruise Ship - Eagleaviation
        ">
    {% endblock %}

{% block body %}


<section>
  <img class="w-100" src="static/Home/images/air-hostess.png" />
</section>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-danger fs-5"><strong>Eagleaviation Diploma Course in Cruise Ship</strong></h1>
      <p class="text-justify">
        Throughout this program, we'll provide you an interesting historical view at the talents and qualifications wanted to function in the cruise line industry, the application process, and, as a consequence, the lifestyle of a cruising member
        of the crew. This course equips prospective crew members and novices to the profession with the requisite experience to embark on this career aboard cargo haulers. Educators who continue on to the Cruise Ship Management Diploma course
        will not only develop a greater understanding of the economics and marketing of underwater cruise ships and the operations and maintenance challenges they face, but will also be able to tackle more sophisticated difficulties such as
        people management, organisational culture, analysis techniques, and etc.
      </p>
      <p class="text-justify">
        The two-year curriculum is designed to provide students with the information and knowledge required for a professional future in the cruise industry's hospitality businesses, as well as a working knowledge of work life on a cruise ship.
            Learners will be able about front-office operations, catering services, sanitation, client service, efficient leadership, critical Computer capabilities, and finance as section of the training.
          </p>
          <p class="text-justify">
            They will also be introduced to the larger universe of the cruise lines, including its background, competitors, consumers, laws, and safety and security considerations. This curriculum was developed with the cooperation of cruise industry
            specialists, ensuring that students would be adequately equipped for their professional prospects. During the first year, candidates must pass 5 months internship in a 5-star hotel as part of their programme of study. They can apply to
            work on a cruise ship in their second year.
          </p>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/cruiseShip.png" alt="" class="img-thumbnail" />
        </div>
        
        <div class="col-md-12">
          <h3 class="fs-5"><strong>What You Will Learn:</strong></h3>
          <p>Suggest and evaluate conceptual and technical solutions to complicated challenges in the priority sectors of cruise ship hospitality industry management using skillets and experience.</p>
          <p>Recognise and address the variety that occurs within the cruise liner industries in general of its customers.</p>
          <p>You’ll be able to identify and analyse the influence of outbound travel on the cruise ship business, and in specifically, hospitality operations management.</p>
          <p>You can examine and assess the distinguishing elements of cruise ship hospitality as a concept, such as the various cultural dimensions of hospitality.</p>
          <p>
            They can assess the hotel management setting, as well as applicable theories and concepts from management control fields such as people management, hospitality operations management, enterprise resource planning, and negotiation skills
          </p>
        </div>
      </div>
    </div>
    
          {% endblock body %}