{% extends 'Base/homebase.html' %}
{% block title %}Diploma Course in Aviation{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Aviation and getting 100% job Placement. Build a career in the Aviation
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Aviation - Eagleaviation
        ">
    {% endblock %}
{% block body %}

<section>
      <img class="w-100" src="static/Home/images/aviation.png" />
    </section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-danger fs-5"><strong>Eagleaviation Diploma Course in Aviation</strong></h1>
          <p class="text-justify">
            Aviation is a highly desirable sector nowadays, with several work prospects. It is among the professions that are constantly popular and employee generator; thus, job opportunities in aviation are usually plentiful. The demand for people
            with the necessary ability and competence in the aviation business is expanding as many aircraft organizations grow. EagleaviationI offers outstanding, job-oriented aviation courses based on their qualifications and objectives.
          </p>
          <p class="text-justify">
            Individuals interested in airport administration, Airport security checkpoints, airport management, and airline security procedures should seek certification in aviation programs. This course requires candidates to have excellent
            communication and organizational abilities. Furthermore, these applicants should learn about the airport's safety and first-aid procedures so that they can deal with challenges in an emergency.
          </p>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/aviation_management.jpeg" alt="" class="img-thumbnail" />
        </div>

        <div class="col-md-12 mt-md-3">
          <h3 class="fs-5"><strong>Why Aviation course is Ideal after Graduation or 12th class?</strong></h3>
          <p>
            The aviation sector is an essential industry that requires skilled employees for various professions. Aviation seems to be even the biggest job-generating sector in India, with plenty of job prospects. After completing their 12th-grade
            exams, many students pursue an aviation career. Graduate students might find several work options in the aviation industry.
          </p>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
          <h3 class="fs-5"><strong>The benefit of joining the Eagleaviation Institute for Aviation course</strong></h3>
          <ul>
            <li>A highly modernized and advanced training centre</li>
            <li>Training sessions through industry experts</li>
            <li>Doubt classes and online video courses</li>
            <li>Communication skills classes</li>
            <li>Grooming and interview preparation</li>
            <li>Assurance of internship and placement</li>
          </ul>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
          <h3 class="fs-5"><strong>The Eligibility of The Course </strong></h3>
          <p class="mb-0">10+2 and similar education with a minimum of 50% marks</p>
          <p>Course duration is – 1 year</p>
        </div>
      </div>
    </div>
    {% endblock  %}
    