{% extends 'Base/homebase.html' %}
{% block title %}
Diploma Course in Hotel Management f/b
{% endblock %}

{% block body %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Hotel Management and getting 100% job Placement. Build a career in the travel and hotel industry.
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Hotel Management f/b - Eagleaviation
        ">
    {% endblock %}
<section>
      <img class="w-100" src="static/Home/images/hm-fb.png" />
    </section>
    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 text-justify">
            <h1 class="fs-4" style="    color: #e50e2d;"><strong>Eagleaviation Diploma Course in Hotel Management f/b</strong></h1>
            <p>
              The Eagleaviation diploma course in Hotel management is the initial phase to set an effective career in the hotel, catering business, food and beverages industry. You will also need this certificate to open your hotel or restaurant. The
              hospitality industry is a quickly mounting industry that provides plenty of jobs and employment. It is not limited to domestic but also brings jobs opportunity abroad.
            </p>
            <p>
              The Diploma course in Hotel Management F & B industry is the authentication for making an attractive career in the travel and hotel industry. Many students are looking forward to making a career in the food and beverages industry, but
              they need proficiency and professional training before landing any job. Our offline and online courses are ideal for students who want to pursue jobs anywhere from their location. After this course, you can understand how to work in the
              food and beverage industry, room services, coffee shops, banquet, room service, doorstep food delivery, motel, restaurants etc. Eagleaviation provides training and skills in all perspectives of hotel management with a concentration on essential
              operational activities. These operational activities are event planning, wedding planning, banquet hall management, conference room decoration and many more. In this course, candidates can understand how to behave with guests, serve
              them, and handle orders and complaints.
            </p>
          </div>
          <div class="col-md-6">
            <img src="static/Home/images/fb.png" class="img-thumbnail">
          </div>
        </div>
      </div>
    </section>
    <section class="p-5" style="background-color: #fffbf7">
      <div class="container">
        <div class="row">
          <h2 class="fs-6 py-3">After learning this course, they can learn how to work as a steward, waiter, cook, and supervisor.</h2>
          
          <div class="col-md-6 text-justify" style="border-right: 1px solid #dbd9d9; border-bottom: 1px solid #dbd9d9;">
            <h4 class="fs-6 fw-bold mt-3">Efficient Communication Expertise</h4>
           <p>
              The course demands excellent communication skills. It is essential to have a good command of English and other regional languages as per the situation. If you want to make a fruitful career in the hospitality industry, it is vital to
              have an excellent command of English and other languages. Bhartiya Airways provide communication expertise classes which makes student highly interactive with guests and management. They will understand the vital perspective of accurate
              and efficient communication.
            </p>
          </div>
          <div class="col-md-6 text-justify" style="border-bottom: 1px solid #dbd9d9;" >
            <h4 class="fs-6 fw-bold mt-3 ">Nurturing</h4>
            <p>
              The course helps nurture and groom the student to work effectively in the hospitality industry. In grooming and nurturing classes, all students need to take care of their body language, outfit, dress, behavior, neat and clean hair,
              traditional dresses and many more. It is essential to follow basic etiquette and manners while working in the hotel industry.
            </p>
          </div>
          <div class="col-md-6 text-justify "  style="border-right: 1px solid #dbd9d9;">
            <h4 class="fs-6 fw-bold mt-5">Hospitality</h4>
            <p>
              The hospitality session provides information about the hospitality industry. In this course, several topics are explained, including greeting guests on arrival, helping them in check-in, handling guests, checkout, payment settlement,
              room service and many more. Students will also get training to book online hotel reservations for guests
            </p>
            </div>
            <div class="col-md-6 text-justify">
              <h4 class="fs-6 fw-bold mt-5">Preparation of personal interview</h4>
              <p>
                In this session, we help students to prepare for a personal interview. We conduct mock interviews and real-life situations to understand what they can face in an interview. It will help them to know the pattern for their interview, and
                they can quickly get the idea to crack the interview successfully.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock  %}
