{% extends 'Base/homebase.html' %}
{% block title %}
Diploma Course in Aviation

{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Hotel Management in Bakery and getting 100% job Placement. Build a career in the Hotel Management in Bakery
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Hotel Management in Bakery- Eagleaviation
        ">
    {% endblock %}

{% block body %}
    <section>
      <img class="w-100" src="static/Home/images/hm-backery.png" />
    </section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="fs-5 font-bolder text-danger"><strong>Eagleaviation Diploma Course in Hotel Management in Bakery</strong></h1>
          <p class="text-justify">
            The goal of the <strong>Eagleaviation Diploma Course in Hotel Management in Bakery</strong> curriculum is to educate students the fundamentals of the business. Applicants who want to work in the bakery or confectionery industry will consider this
            training to be a useful means of improving their abilities. Participants get a comprehensive knowledge of the course material and expand their performance of the profession of Baking and Confectionaries by bringing their different
            characteristics to be used in the industry.
          </p>
          <p class="text-justify">
            The Diploma in Bakery and Confectionery course focuses on essential learning of confectionery and Patisserie. Candidates who have finished their 10+2 class or similar education in any field can undertake a Diploma in Bakery and
            Confectionery.
          </p>
          <p class="text-justify">
            A candidate who completes the course will have chances in the Bakery and Confectionery industries on a national and international level. Candidates who passed their exam and finished the course with distinction will have chances in the
            Bakery and Confectionery industries on both a national and international level.
          </p>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/bakery.png" alt="" class="img-thumbnail" />
        </div>
</div>
</div>
<section style="background-color: #fffbf7">
<div class="container mt-3 py-3">
        <div class="col-md-12 mt-3">
          <p>More career profiles are available after graduating from the Diploma in Bakery and Confectionery course.</p>
          <ul class="mb-0">
            <div class="row">
              <div class="col-md-3">
                <li>Commissary Baker</li>
                <li>Artisan Baker</li>
                <li>Bread Baker</li>
                <li>Head Pastry Chef</li>
                <li>Director</li>
              </div>
              <div class="col-md-3">
                <li>Trainee Baker</li>
                <li>Pastry Chef</li>
                <li>Associate Baker</li>
                <li>Supplier Management</li>
              </div>
              <div class="col-md-6">
                <p class="mb-0"><strong>Course type</strong>: Diploma</p>
                <p class="mb-0"><strong>Duration</strong>: 1 year to 1.5 year</p>
                <p class="mb-0"><strong>Exam Duration</strong>: Semester wise</p>
                <p class="mb-0"><strong>Eligibility</strong>: 10+2 passed with 50% marks 5% concession to reserved categories in any stream from a certified board.</p>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    </section>
{% endblock %}