{% extends 'Base/homebase.html' %}
{% block title %}
OUR PLACEMENT SUPPORT
{% endblock %}
{% block metadescription %}
        <meta name="description" content="Job Placement support and Certificate in Aviation Management, Hotel Management, and Hospitality in Cruise Management
        ">
        <meta name="tittle" content="OUR PLACEMENT SUPPORT  - Eagleaviation
        ">
    {% endblock %}
{% block body  %}

<div class="container-fluid px-0">
  <img src="static/Home/images/placement.png" alt="" class="w-100" />
</div>
<div class="container">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="card h-100 p-3 p-md-5 border border-0 shadow-lg support-card">
            <div class="row">
              <div class="col-md-6">
                <h1 class="placehead">OUR PLACEMENT SUPPORT</h1>
                <p class="text-justify lh-lg">
                  We are providing JOB PLACEMENT SUPPORT and Certificate in Aviation Management, Hotel Management, and Hospitality in Cruise Management. The university has good placement cell which provides job opportunities in every department
                  annually in the respective departments. Students from all over the country get jobs in different fields. If you have talent so there is lots of job opportunities campus selection. There are lots of campus selection program offers by
                  Eagleaviation Institute if you want job then apply for this . The placement percentage in our college during our batch was 80-90%, and it keeps on improving every year. The average salary was 4-5 LPA. The highest salary offered by Eagleaviation
                  Institute was 8 LPA. You can get an average package of 3-4 lakhs in Eagleaviation Institute. The lowest offered was 2.9 LPA.
                </p>
                <div class="text-md-start text-center"><button class="btn btn-success px-5 py-2 mb-md-0 mb-3">Join Now</button></div>
              </div>
              <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="static/Base/assets/images/graduate.png" alt="" class="w-50" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-md-6 mb-4">
          <div class="card h-100 p-md-5 p-3 placecard border border-0 shadow-lg">
            <h3 class="placehead">Placement in <span class="text-success">Aviation</span></h3>
            <p class="text-justify lh-lg">
              With intensive experience and market study, Eagleaviation Institute emerges as the most dependable partners in the recruitment sector. We pride on our efficiency, experience, and ingenuity that helps us deliver unique placement services. Some of
              the major job categories in airline industry we we tend to serve include: Eagleaviation Institute has placed thousands of candidates world-wide including engineers, aircraft maintenance, logistics, training, business administration, finance,
              pilots & cabin crew, airfield/airport operations & maintenance, Cargo Manager and Handler, Air hostess, Ground Operator, JAR Audit Inspectors, Captains, First Officers, Flight Engineers, Licensed Engineers, Mechanics, Electricians,
              Maintenance, Air Traffic Controller, Flight Operator, Maintenance Personnel, Psychologist, Training Captains, Simulator Instructors, Sheet Metal Workers, Fitters. They are getting highest packages in their field.
            </p>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100 p-md-5 p-3 placecard border border-0 shadow-lg">
            <h3 class="placehead">Placement in <span class="text-success">Hotel Management</span></h3>
            <p class="text-justify lh-lg">
              After completing the diploma you will be given the opportunity to gain insight and confidence in the hospitality industry by completing a period of industry placement at a 5-star hotel. Our placement division/cell is is totally devoted
              and works for the placement of students in India and abroad. We are committed to place most of our students in reputed Hospitality Establishment like Taj Hotels Resorts & Places, The Oberoi Group, Sheraton Hotels & Resorts, The Grand,
              Radisson, Le Meridian etc. So, lots of lucrative and interesting opening are there for our student in various fields. We place a high premium on providing extremely valued placements in the industry. We provide a chance to our students
              to excel in their career by beginning with big brand names in the Hospitality Industry.
            </p>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100 p-md-5 p-3 placecard border border-0 shadow-lg">
            <h3 class="placehead">Opportunity to <span class="text-success">Study Abroad</span></h3>
            <p class="text-justify lh-lg">
              Eagleaviation Institute provides opportunities for international placement as well. We are placing our students international continuously from last 3 years. Eagleaviation Institute also provides placement assistance for its students through various
              organization in India and abroad which facilitate training opportunities particularly in the western world . The school assists you to attend a series of seminars, workshops and various customized programs which guide as well as polish
              you up for the opportunities abroad.
            </p>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100 p-md-5 p-3 placecard border border-0 shadow-lg">
            <h3 class="placehead">Placement in <span class="text-success">Cruise Ship</span></h3>
            <p class="text-justify lh-lg">
              Looking for a career in Cruise Ship you are at the right place. Eagleaviation Institute providing diploma course in Cruise ship management with a better placement to their students. On successful completion of programs, Eagleaviation students get
              opportunities to join these luxury cruise lines and hotels after selection through campus interviews. To name a few, Eagleaviation students are placed through Campus interviews in Regent Seven Seas Cruises, Viking Cruises, Oceania Cruises,
              Thomson Cruises, Norwegian Cruise Lines. They are earning a Potential Income starting from USD 1,000 / month up to USD 2,500 / month on board a Cruise Ship. Jobs on cruise ships will enable you to travel the world and you will get paid
              for it.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endblock body  %}
   