  {% extends 'Base/homebase.html' %}
  {% block title %}
  Institute-Professional Diploma in Travel and Tourism
{% endblock %}
{% block metadescription %}
        <meta name="description" content=" Eagleaviation Group is offering a diploma course in Travel and Tourism and getting 100% job Placement. Build a career in the Travel and Tourism
        ">
        <meta name="tittle" content="Eagleaviation Diploma Course in Travel and Tourism - Eagleaviation
        ">
    {% endblock %}
  {% block body %}
  
  <section>
      <img class="w-100" src="static/Home/images/travel-turisum.png" />
    </section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-danger fs-5"><strong>Eagleaviation Institute-Professional Diploma in Travel and Tourism</strong></h1>
          <p class="text-justify">
            Travel & tourism is a buzzword that connects people from all around the world together. It is a sector that dominates the globalisation. It's a buried yearning in every one of us. It's a profession that almost all of you dream to and want
            to become a portion of, because you're not sure how to get involved.
          </p>
          <p class="text-justify">
            Eagleaviation Institute is the best travel and tourism management training institute in India, with industry expert and travel and tourism expertise. Our Institute is managed under the direction of managers and supervisors who have extensive
            expertise in the tourism sector.
          </p>
          <p class="text-justify">
            Our industry-experienced instructors will educate determined and passionate students to become technical experts in this sector by presenting their ideas, knowledge, and ability in the travel and tourism industry. Undergraduate and
            postgraduate studies in travel and tourism management are available.
          </p>
        </div>

        <div class="col-md-6">
          <img src="static/Home/images/tour_travel.png" alt="" class="img-thumbnail" />
        </div>
      </div>
    </div>
    <section class="mt-3 py-3" style="background-color: #fffbf7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="fs-6"><strong>Why Eagleaviation Institute is the Right Choice for Travel and Tourism Course and Diploma?</strong></h3>
            <p class="text-justify">
              We prepare ambitious individuals for this dynamic profession life by supplying inclusive basics and learning of the domestic and international travel & tourism industry sectors. The training including numerous reservation & bookings
              practices, flight schedule creation, hotel industry, tour operational processes, meetings & events planning, group attendants training, and much more. Internship experience in booking and ticketing software, internship programs with
              some travel companies, and inexpensive course fees are just a few of the attributes that differentiate us from the rivals.
            </p>
            <p>Register with us and educate to succeed in the traveling and tourism business by enrolling in a recognized institution’s such as Eagleaviation travel and tourism management program. Allow your sense of adventure to run crazy.</p>
          </div>
        </div>
      </div>
    </section>
    
            {% endblock body %}